{% load static %}
<section id="cta"
         class="min-h-full bg-[url('/static/images/cta-bg.png')] bg-cover bg-center text-anti-flash_white">
    <div class="w-full flex justify-center">
        <div class="w-eighty text-center my-fluid-16-48">
            <h2 class="text-fluid-h2 font-extrabold">
                DON’T <span class="text-aero">THINK</span>, BEGIN
                <span class="text-aero">TODAY</span>!
            </h2>
            <h3 class="text-fluid-h5 mt-fluid-13-48 font-semibold font-ubuntu">Experience our passion for fitness and let our passion inspire you</h3>
            <a class="cta-btn" href="#contact-us">BECOME A MEMBER</a>
            <img class="vitality-logo"
                 src="{% static 'images/logos/vitality_white.png' %}"
                 alt="" />
        </div>
    </div>
</section>
