{% load static %}
<section id="facilities">
  <div class="w-full flex justify-center my-fluid-16-48">
    <div class="w-eighty">
      <div class="text-center">
        <h3 class="font-bold text-fluid-h3 wide:text-fluid-wide-h3">OUR <span class="text-aero">FACILITIES</span></h3>
        <img
          class="mx-auto w-9 aspect-square"
          src="{% static 'images/icons/benji.png' %}"
          alt=""
        />
        <p>
          "Eden Fitness is the manifestation of a dream to bring a world-class
          hybrid fitness facility to the Garden Route."
        </p>
      </div>
    </div>
  </div>
</section>
