{% load static %}
<nav class="">
  <div
    class="flex flex-col justify-around h-fluid-20-40 w-auto aspect-square landscape:mx-fluid-8-16 landscape:mt-fluid-8-16 portrait:my-fluid-8-16 portrait:ml-fluid-8-16 transition-all duration-500 ease-out"
  >
    <span class="bg-jet-400 dark:bg-anti-flash_white w-full h-[12%] rounded-full"></span>
    <span class="bg-jet-400 dark:bg-anti-flash_white w-full h-[12%] rounded-full"></span>
    <span class="bg-jet-400 dark:bg-anti-flash_white w-full h-[12%] rounded-full"></span>
  </div>
</nav>
