{% load static %}
<nav class="">
  <div
    class="flex flex-col justify-around h-fluid-burger w-auto aspect-square landscape:mx-fluid-burger landscape:mt-fluid-burger portrait:my-fluid-burger portrait:ml-fluid-burger transition-all duration-500 ease-out"
  >
    <span class="bg-jet-400 dark:bg-anti-flash_white w-full h-[12%] rounded-full"></span>
    <span class="bg-jet-400 dark:bg-anti-flash_white w-full h-[12%] rounded-full"></span>
    <span class="bg-jet-400 dark:bg-anti-flash_white w-full h-[12%] rounded-full"></span>
  </div>
</nav>
