{% load static %}
<section id="partners">
  <div class="w-full flex justify-center">
    <div class="w-eighty">
      <div class="text-center my-fluid-16-48">
        <h3 class="font-bold text-fluid-h3 wide:text-fluid-wide-h3">
          OUR <span class="text-aero">PARTNERS</span>
        </h3>
        <img
          class="mx-auto w-fluid-32-64 aspect-square my-fluid-8-16"
          src="{% static 'images/icons/benji.png' %}"
          alt=""
        />
        <p
          class="text-fluid-12-20 leading-tight landscape:inline-block landscape:mx-auto landscape:max-w-[65%]"
        >
          "Proudly partnered with industry leaders in their fields. When
          shopping online, use the information below."
        </p>
      </div>
    </div>
  </div>
</section>
