{% load static %}
<section id="schedule">
  <div class="w-full flex justify-center">
    <div class="w-eighty">
      <div class="text-center my-fluid-16-48">
        <h4 class="font-bold text-fluid-h4 wide:text-fluid-wide-h4 text-jet dark:text-anti-flash_white">
          OUR <span class="text-aero">SCHEDULE</span>
        </h4>
        <img
          class="mx-auto w-fluid-32-64 aspect-square my-fluid-8-16"
          src="{% static 'images/icons/benji.png' %}"
          alt=""
        />
        <p
          class="text-fluid-12-20 leading-tight landscape:inline-block landscape:mx-auto landscape:max-w-[65%]"
        >
          "The infectious camaraderie that is built in a group, working hard
          side-by-side, is sure to carry you to new heights you never even
          imagined."
        </p>
      </div>
    </div>
  </div>
</section>
