{% load static %}
<section id="trainers">
  <div class="w-full flex justify-center">
    <div class="w-eighty">
      <div class="text-center my-fluid-16-48">
        <h4
          class="font-bold text-fluid-h4 wide:text-fluid-wide-h4 text-jet dark:text-anti-flash_white-400"
        >
          OUR <span class="text-aero">TRAINERS</span>
        </h4>
        <img
          class="mx-auto w-fluid-32-64 aspect-square my-fluid-8-16"
          src="{% static 'images/icons/benji.png' %}"
          alt=""
        />
        <p
          class="text-fluid-12-20 leading-tight landscape:inline-block landscape:mx-auto landscape:max-w-[65%]"
        >
          "Experience personalized guidance and professional support from our
          expert trainers, ensuring a safe and dynamic environment to elevate
          your fitness goals."
        </p>
      </div>
    </div>
  </div>
</section>
